<form action="/search" class="form-filter" method="post">

    <fieldset>
      <div class="filter-section">
          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="action">
              <span>Actie</span>
          </label>
          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="adventure">
              <span>Avontuur</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="comedy">
              <span>Comedy</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="documentary">
              <span>Documentaire</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="drama">
              <span>Drama</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="epic">
              <span>Episch</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="horror">
              <span>Horror</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="scifi">
              <span>Sci-fi</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="war">
              <span>Oorlog</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="romance">
              <span>Romantiek</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="music">
              <span>Muziek</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="fantasy">
              <span>Fantasy</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="thriller">
              <span>Thriller</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="crime">
              <span>Misdaad</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="sport">
              <span>Sport</span>
          </label>

          <label>
              <input class="filter-checkbox" type="checkbox" name="genre" value="mystery">
              <span>Mystery</span>
          </label>
        </div>
     </fieldset>

    <input type="submit">
</form>
