<form action="/profile" class="form-filter" method="post">

    <label><input type="radio" name="radio" value="value">Text</label>
    <label for="">
        <input type="checkbox" name="country" enctype="multipart/form-data" value="GB">
        <span>Engels</span>
    </label>

     <label for="">
          <input type="checkbox" name="country" enctype="multipart/form-data" value="USA">
          <span>usa</span>
     </label>

     <select name="selected_period">
       <option></option>
       <option value="middeleeuwen" name="period" enctype="multipart/form-data">Middeleeuwen</option>
       <option value="victoriaans" name="period" enctype="multipart/form-data">Victoriaans</option>
       <option value="romeins" name="period" enctype="multipart/form-data">Romeins</option>
       <option value="hedendaags" name="period" enctype="multipart/form-data">Hedendaags</option>
     </select>

    <input type="submit">
</form>
