        <footer>
            <p class="copyright">Copyright (c) 2017 Copyright Vrij Nederland | Alle rechten voorbehouden.</p>
        </footer>
        <script src="/javascripts/filter.js"></script>
        <script src="/javascripts/navigation.js"></script>
    </body>
</html>
