<header>
<h2 class="titel">Vrij Nederland seriewijzer</h2>
 <nav>
   <ul class="navigation">
    <li class="active"> <a href="#">Home</a></li>
    <li> <a href="#">About</a></li>
    <li>  <a class="twitter" href="#">Login</a></li>
   </ul>
 </nav>
</header>
