<header class="header-nav">
    <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav class="main-navigation">
        <a class="titel-link active" href="/home">
            <span class="titel">Vrij Nederland Seriewijzer</span>
        </a>
        <ul class="nav-list">
            <li><a href="/persona">Doe de Persona Check</a></li>
            <li><a href="/seriespel">Speel het Seriespel</a></li>
            <li><a href="/recensies">Recensies</a></li>
            <li><a class="login-btn" href="/auth/facebook">Log In</a></li>
        </ul>
    </nav>
</header>
