<header class="header-nav">
<h2 class="titel">Vrij Nederland seriewijzer</h2>
 <nav>
   <ul class="navigation">
    <li> <a  class="active" href="/">Home</a></li>
    <li> <a href="#">About</a></li>
    <li> <a class="twitter" href="/auth/facebook">Facebook login</a></li>
    <li> <a class="twitter" href="/upload">Upload Review</a></li>
   </ul>
 </nav>
</header>
