<header class="header-nav">
    <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!--[if IE]>
        <div class="browser-warning">
            <h1>Let op: Je gebruikt een verouderde browser.</h1>
            <p>Wij raden je aan om een van de onderstaande browsers te gebruiken voor een optimale ervaring en veilig gebruik.</p>
            <div class="browser-container">
                <ul>
                    <li>
                        <a href="https://www.google.com/chrome/browser/desktop/index.html">
                        <img class="browser-img" src="/img/browser-icons/chrome.png" alt="Google Chrome">
                        </a>
                    </li>
                   <li>
                       <a href="https://www.mozilla.org/nl/firefox/new/">
                           <img class="browser-img" src="/img/browser-icons/firefox.png" alt="Mozilla Firefox">
                       </a>
                   </li>
                </ul>
            </div>
        </div>
   <![endif]-->
    <nav class="main-navigation">
        <a class="titel-link active" href="/home">
            <span class="titel">Vrij Nederland Seriewijzer</span>
        </a>
        <ul class="nav-list">
            <li><a href="/persona">Doe de Persona Check</a></li>
            <li><a href="/seriespel">Speel het Seriespel</a></li>
            <li><a href="/recensies">Recensies</a></li>
            <li><a class="login-btn" href="/auth/facebook">Log In</a></li>
        </ul>
    </nav>
</header>
