<header class="header-nav">
    <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav role="main-navigation">
        <ul class="navigation-left">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/seriespel">Speel het Seriespel</a></li>
            <li><a href="/persona">Doe de Persona Check</a></li>
        </ul>
        <a class="titel-link" href="/home">
            <span class="titel">Vrij Nederland seriewijzer</span>
        </a>
        <ul class="navigation-right">
            <li><a href="/recensies">Alle Recensies</a></li>
            <li><a href="/upload">UPLOAD RECENSIE</a></li>
            <li><a href="/review_overview">RECENSIE CMS</a></li>
        </ul>
    </nav>
</header>
