<header class="header-nav">
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav class="main-navigation">
        <ul class="navigation-left">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/seriespel">Speel het Seriespel</a></li>
            <li><a href="/persona">Doe de Persona Check</a></li>
        </ul>
        <a href="/">
            <h2 class="titel">Vrij Nederland seriewijzer</h2>
        </a>
        <ul class="navigation-right">
            <li><a href="/recensies">Alle Recensies</a></li>
            <li><a href="/upload">Tool: Upload Review</a></li>
            <li><a href="/review_overview">Tool: Alle Reviews</a></li>
        </ul>
    </nav>
</header>
