<header>
<h2 class="titel">Vrij Nederland seriewijzer</h2>
 <nav>
   <ul class="navigation">
    <li class="active"> <a href="/">Home</a></li>
    <li> <a href="#">About</a></li>
    <li> <a class="twitter" href="/auth/facebook">Facebook login</a></li>
    <li> <a class="twitter" href="/personal/step1">Peronal</a></li>
   </ul>
 </nav>
</header>
