<header class="header-nav">
    <div id="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <a class="titel-link" href="/">
        <h2 class="titel">Vrij Nederland seriewijzer</h2>
    </a>

    <nav role="main-navigation">
        <ul class="navigation-left">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/seriespel">Speel het Seriespel</a></li>
            <li><a href="/persona">Doe de Persona Check</a></li>
        </ul>
        <ul class="navigation-right">
            <li><a href="/recensies">Alle Recensies</a></li>
            <li><a href="/upload">UPLOAD RECENSIE</a></li>
            <li><a href="/review_overview">RECENSIE CMS</a></li>
        </ul>
    </nav>
</header>
