<header class="header-nav">
<h2 class="titel">Vrij Nederland seriewijzer</h2>

<div class="hamburger">
 <div></div>
 <div></div>
 <div></div>
</div>
 <nav>
   <ul class="navigation">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/auth/facebook">Facebook login</a></li>
        <li><a href="/upload">Upload Review</a></li>
        <li><a href="/review_overview">Alle Reviews</a></li>
   </ul>
 </nav>
</header>
