<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vrije tijdsbesteding</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <progress max="3" value="2"></progress>
        <h1>Wie ben jij?</h1>
        <h2>In mijn vrije tijd doe ik aan...</h2>
        <h3>Meerdere antwoorden mogelijk</h3>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data" class="hobbies">
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="gamen" name="hobby" value="gamen" />
                <label for="gamen"><h4>Gamen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="sporten" name="hobby" value="sporten" />
                <label for="sporten"><h4>Sporten</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="uitgaan-borrelen" name="hobby" value="uitgaan-borrelen" />
                <label for="uitgaan-borrelen"><h4>Uitgaan/borrelen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="reizen" name="hobby" value="reizen" />
                <label for="reizen"><h4>Reizen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="muziek" name="hobby" value="muziek" />
                <label for="muziek"><h4>Muziek maken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="shoppen" name="hobby" value="shoppen" />
                <label for="shoppen"><h4>Shoppen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="koken" name="hobby" value="koken" />
                <label for="koken"><h4>Koken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="lezen" name="hobby" value="lezen" />
                <label for="lezen"><h4>Lezen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="drugs" name="hobby" value="drugs" />
                <label for="drugs"><h4>Drugs</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="werken" name="hobby" value="werken" />
                <label for="werken"><h4>Werken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="other" name="hobby" value="other" />
                <label for="other"><h4>Andere rare hobby</h4></label>
            </section>
            <input type="submit" value="Volgende" />
        </form>
    </main>
</body>
</html>
<!-- END Chanel -->
