<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include partials/header.ejs %>
    <main class="overview-container">
        <% for(var i=0; i<data.results.length; i++) {%>
            <div class="movie">
                <div>
                    <img src="http://image.tmdb.org/t/p/w185/<%=data.results[i].poster_path%>" alt="">
                </div>
                <h3><%= data.results[i].original_name %></h3>
            </div>
        <% } %>
    </main>
  </body>
</html>
