<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seriewijzer - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Seriewijzer</h1>
    <h2>Vrij Nederland</h2>
    <p>
        De series die je écht moet kijken.
    </p>
    <form method="post" enctype="multipart/form-data" action="/">
        <input type="submit" class="facebookbutton" value="Login met Facebook" />
    </form>
</body>
</html>
<!-- END Chanel -->
