<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stemming</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <progress max="3" value="2"></progress>
        <h1>Wie ben jij?</h1>
        <h2>Ik wil graag...</h2>
        <h3>Meerdere antwoorden mogelijk</h3>
    </header>
    <main>
        <form method="post">
            <section class="moods">
                <div>

                </div>
                <input type="checkbox" id="lachen" name="mood" value="lachen" />
                <label for="lachen"><h4>huilen van het lachen</h4></label>
            </section>
            <section class="moods">
                <div>

                </div>
                <input type="checkbox" id="janken" name="mood" value="janken" />
                <label for="janken"><h4>lekker janken</h4></label>
            </section>
            <section class="moods">
                <div>

                </div>
                <input type="checkbox" id="spanning" name="mood" value="spanning" />
                <label for="spanning"><h4>van spanning stoppen met ademen</h4></label>
            </section>
            <section class="moods">
                <div>

                </div>
                <input type="checkbox" id="bang" name="mood" value="bang" />
                <label for="bang"><h4>bang gemaakt worden</h4></label>
            </section>
            <section class="moods">
                <div>

                </div>
                <input type="checkbox" id="hersendood" name="mood" value="hersendood" />
                <label for="hersendood"><h4>hersendood voor de tv zitten</h4></label>
            </section>
            <input type="submit" value="Toon me die series!" />
        </form>
    </main>
</body>
</html>
<!-- END Chanel -->
