<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kies je persona</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>Wie ben jij?</h1>
        <h2>Ik ben echt een...</h2>
        <h3>Meerdere antwoorden mogelijk</h3>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data" >
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="foodie" name="persona" value="foodie" />
                <label for="foodie"><h4>Foodie</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="creatieveling" name="persona" value="creatieveling" />
                <label for="creatieveling"><h4>Creatieveling</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="sensatiezoeker" name="persona" value="sensatiezoeker" />
                <label for="sensatiezoeker"><h4>Sensatie zoeker</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="soldaat" name="persona" value="soldaat" />
                <label for="soldaat"><h4>Soldaat</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="joker" name="persona" value="joker" />
                <label for="joker"><h4>Joker</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="girlygirl" name="persona" value="girlygirl" />
                <label for="girlygirl"><h4>Girly Girl</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="waaghals" name="persona" value="waaghals" />
                <label for="waaghals"><h4>Waaghals</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="avonturier" name="persona" value="avonturier" />
                <label for="avonturier"><h4>Avonturier</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="geekynerd" name="persona" value="geekynerd" />
                <label for="geekynerd"><h4>Geeky Nerd</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="animallover" name="persona" value="animallover" />
                <label for="animallover"><h4>Animal lover</h4></label>
            </section>
            <section class="persona">
                <div>

                </div>
                <input type="checkbox" id="intellectueel" name="persona" value="intellectueel" />
                <label for="intellectueel"><h4>Intellectueel</h4></label>
            </section>
            <input type="submit" value="Volgende" />
        </form>
    </main>
</body>
</html>
