<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kies je persona</title>
</head>
<body>
        <progress max="3" value="1"></progress>
    <header class="header-personacheck">
        <h1>Wie ben jij?</h1>
        <p>Meerdere antwoorden mogelijk</p>
    </header>
    <main class="form-for-check">
        <form method="post" action="/persona" class="personas">
        <fieldset class="persona-check">
        <legend><h2>Ik ben echt een...</h2></legend>

            <section class="persona">
                <input type="checkbox" id="foodie" name="tagspersoonlijkheid" value="foodie" />
                <h4><label for="foodie">Foodie</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="creatieveling" name="tagspersoonlijkheid" value="creatieveling" />
                <h4><label for="creatieveling">Creatieveling</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="sensatiezoeker" name="tagspersoonlijkheid" value="sensatie" />
                <h4><label for="sensatie">Sensatie zoeker</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="soldaat" name="tagspersoonlijkheid" value="soldaat" />
                <h4><label for="soldaat">Soldaat</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="joker" name="tagspersoonlijkheid" value="joker" />
                <h4><label for="joker">Joker</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="girlygirl" name="tagspersoonlijkheid" value="girly" />
                <h4><label for="girly">Girly Girl</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="waaghals" name="tagspersoonlijkheid" value="waaghals" />
                <h4><label for="waaghals">Waaghals</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="avonturier" name="tagspersoonlijkheid" value="avonturier" />
                <h4><label for="avonturier">Avonturier</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="geekynerd" name="tagspersoonlijkheid" value="nerd" />
                <h4><label for="nerd">Geeky Nerd</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="animallover" name="tagspersoonlijkheid" value="animal" />
                <h4><label for="animal">Animal lover</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="intellectueel" name="tagspersoonlijkheid" value="intellectueel" />
                <h4><label for="intellectueel">Intellectueel</label></h4>
                <div>

                </div>
            </section>

        </fieldset>


        <fieldset class="persona-check">
        <legend><h2>In mijn vrije tijd doe ik aan...</h2></legend>

        <section class="hobby">
                <div>


                </div>
                <input type="checkbox" id="gamen" name="tagshobby" value="gamen" />
                <label for="gamen"><h4>Gamen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="sporten" name="tagshobby" value="sporten" />
                <label for="sporten"><h4>Sporten</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="uitgaan-borrelen" name="tagshobby" value="uitgaan" />
                <label for="uitgaan"><h4>Uitgaan/borrelen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="reizen" name="tagshobby" value="reizen" />
                <label for="reizen"><h4>Reizen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="muziek" name="tagshobby" value="muziek" />
                <label for="muziek"><h4>Muziek maken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="shoppen" name="tagshobby" value="shoppen" />
                <label for="shoppen"><h4>Shoppen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="koken" name="tagshobby" value="koken" />
                <label for="koken"><h4>Koken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="lezen" name="tagshobby" value="lezen" />
                <label for="lezen"><h4>Lezen</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="drugs" name="tagshobby" value="drugs" />
                <label for="drugs"><h4>Drugs</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="werken" name="tagshobby" value="werken" />
                <label for="werken"><h4>Werken</h4></label>
            </section>
            <section class="hobby">
                <div>

                </div>
                <input type="checkbox" id="other" name="tagshobby" value="other" />
                <label for="other"><h4>Andere rare hobby</h4></label>
            </section>
        </fieldset>

        <fieldset class="persona-check">
            <legend><h2>Ik wil graag...</h2></legend>

            <section class="mood">
                <div>

                </div>
                <input type="checkbox" id="lachen" name="tagsikwil" value="lachen" />
                <label for="lachen"><h4>huilen van het lachen</h4></label>
            </section>
            <section class="mood">
                <div>

                </div>
                <input type="checkbox" id="janken" name="tagsikwil" value="janken" />
                <label for="janken"><h4>lekker janken</h4></label>
            </section>
            <section class="mood">
                <div>

                </div>
                <input type="checkbox" id="spanning" name="tagsikwil" value="spanning" />
                <label for="spanning"><h4>van spanning stoppen met ademen</h4></label>
            </section>
            <section class="mood">
                <div>

                </div>
                <input type="checkbox" id="bang" name="tagsikwil" value="bang" />
                <label for="bang"><h4>bang gemaakt worden</h4></label>
            </section>
            <section class="mood">
                <div>

                </div>
                <input type="checkbox" id="hersendood" name="tagsikwil" value="hersendood" />
                <label for="hersendood"><h4>Zonder te denken voor de tv zitten</h4></label>
            </section>
        </fieldset>
<!--         <button id="persona-button-back" class="submit-persona">Volgende</button> -->
        <button id="persona-button" class="submit-persona">Volgende</button>
        <input id="persona-submit" type="submit" value="Volgende" class="submit-persona"/>
        </form>
    </main>

 <script src="/javascripts/persona-steps.js"></script>
</body>
</html>
<!-- END Chanel -->
