<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kies je persona</title>
</head>
<body>
        <progress max="3" value="1"></progress>
    <header class="header-personacheck">
        <h1>Wie ben jij?</h1>
        <p>Meerdere antwoorden mogelijk</p>
    </header>
    <main class="form-for-check">
        <form method="post" enctype="multipart/form-data" action="/persona">
        <fieldset class="persona-check">
            <legend><h2>Ik ben echt een...</h2></legend>
            <div class="flexdiv">
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="foodie" name="tagspersoonlijkheid" value="foodie" />
                    <h4><label for="foodie">Foodie</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="creatieveling" name="tagspersoonlijkheid" value="creatieveling" />
                    <h4><label for="creatieveling">Creatieveling</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="sensatiezoeker" name="tagspersoonlijkheid" value="sensatiezoeker" />
                    <h4><label for="sensatiezoeker">Sensatie zoeker</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="soldaat" name="tagspersoonlijkheid" value="soldaat" />
                    <h4><label for="soldaat">Soldaat</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="joker" name="tagspersoonlijkheid" value="joker" />
                    <h4><label for="joker">Grappenmaker</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="girlygirl" name="tagspersoonlijkheid" value="girlygirl" />
                    <h4><label for="girlygirl">Girly Girl</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="waaghals" name="tagspersoonlijkheid" value="waaghals" />
                    <h4><label for="waaghals">Waaghals</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="avonturier" name="tagspersoonlijkheid" value="avonturier" />
                    <h4><label for="avonturier">Avonturier</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="geekynerd" name="tagspersoonlijkheid" value="geekynerd" />
                    <h4><label for="geekynerd">Geeky Nerd</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="animallover" name="tagspersoonlijkheid" value="animallover" />
                    <h4><label for="animallover">Animal lover</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="intellectueel" name="tagspersoonlijkheid" value="intellectueel" />
                    <h4><label for="intellectueel">Intellectueel</label></h4>
                </section>
                <section class="item persona">
                    <div>

                    </div>
                    <input type="checkbox" id="wie-ben-ik" name="tagspersoonlijkheid" value="wie-ben-ik" />
                    <h4><label for="wie-ben-ik">Wie ben ik?</label></h4>
                </section>
            </div>
        </fieldset>


        <fieldset class="persona-check">
            <legend><h2>In mijn vrije tijd doe ik aan...</h2></legend>
            <div class="flexdiv">
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="gamen"  name="tagshobby"  value="gamen" />
                    <h4><label for="gamen">Gamen</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="sporten"  name="tagshobby"  value="sporten" />
                    <h4><label for="sporten">Sporten</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="uitgaan-borrelen"  name="tagshobby"  value="uitgaan-borrelen" />
                    <h4><label for="uitgaan-borrelen">Uitgaan/borrelen</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="reizen"  name="tagshobby"  value="reizen" />
                    <h4><label for="reizen">Reizen</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="muziek"  name="tagshobby"  value="muziek" />
                    <h4><label for="muziek">Muziek maken</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="shoppen"  name="tagshobby"  value="shoppen" />
                    <h4><label for="shoppen">Shoppen</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="koken"  name="tagshobby"  value="koken" />
                    <h4><label for="koken">Koken</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="lezen"  name="tagshobby"  value="lezen" />
                    <h4><label for="lezen">Lezen</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="drugs" name="tagshobby"  value="drugs" />
                    <h4><label for="drugs">Drugs</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="werken" name="tagshobby"  value="werken" />
                    <h4><label for="werken">Werken</label></h4>
                </section>
                <section class="item hobby">
                    <div>

                    </div>
                    <input type="checkbox" id="other" name="tagshobby"  value="other" />
                    <h4><label for="other">Andere rare hobby</label></h4>
                </section>
            </div>
        </fieldset>

        <fieldset class="persona-check">
            <legend><h2>Ik wil graag...</h2></legend>
            <div class="flexdiv">
                <section class="item mood">
                    <div>

                    </div>
                    <input type="checkbox" id="lachen" name="tagsikwil" value="lachen" />
                    <h4><label for="lachen">huilen van het lachen</label></h4>
                </section>
                <section class="item mood">
                    <div>

                    </div>
                    <input type="checkbox" id="janken" name="tagsikwil" value="janken" />
                    <h4><label for="janken">lekker janken</label></h4>
                </section>
                <section class="item mood">
                    <div>

                    </div>
                    <input type="checkbox" id="spanning" name="tagsikwil" value="spanning" />
                    <h4><label for="spanning">van spanning stoppen met ademen</label></h4>
                </section>
                <section class="item mood">
                    <div>

                    </div>
                    <input type="checkbox" id="bang" name="tagsikwil" value="bang" />
                    <h4><label for="bang">bang gemaakt worden</label></h4>
                </section>
                <section class="item mood">
                    <div>

                    </div>
                    <input type="checkbox" id="hersendood" name="tagsikwil" value="hersendood" />
                    <h4><label for="hersendood">Zonder te denken voor de tv zitten</label></h4>
                </section>
            </div>
        </fieldset>
<!--         <button id="persona-button-back" class="submit-persona">Volgende</button> -->
        <button id="persona-button" class="submit-persona">Volgende</button>
        <input id="persona-submit" type="submit" value="Volgende" class="submit-persona"/>
        </form>
    </main>

 <script src="/javascripts/persona-steps.js"></script>
</body>
</html>
<!-- END Chanel -->
