<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kies je persona</title>
    <link rel='stylesheet' href='/stylesheets/personacheck.css' />
</head>
<body>
    <header class="personacheck">
        <progress max="3" value="1"></progress>
        <h1>Wie ben jij?</h1>
        <h2>Ik ben echt een...</h2>
        <h3>Meerdere antwoorden mogelijk</h3>
    </header>
    <main class="form-for-check">
        <form method="post" enctype="multipart/form-data" action="/" class="personas">
            <section class="persona">
                <input type="checkbox" id="foodie" name="persona" value="foodie" />
                <h4><label for="foodie">Foodie</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="creatieveling" name="persona" value="creatieveling" />
                <h4><label for="creatieveling">Creatieveling</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="sensatiezoeker" name="persona" value="sensatiezoeker" />
                <h4><label for="sensatiezoeker">Sensatie zoeker</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="soldaat" name="persona" value="soldaat" />
                <h4><label for="soldaat">Soldaat</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="joker" name="persona" value="joker" />
                <h4><label for="joker">Joker</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="girlygirl" name="persona" value="girlygirl" />
                <h4><label for="girlygirl">Girly Girl</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="waaghals" name="persona" value="waaghals" />
                <h4><label for="waaghals">Waaghals</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="avonturier" name="persona" value="avonturier" />
                <h4><label for="avonturier">Avonturier</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="geekynerd" name="persona" value="geekynerd" />
                <h4><label for="geekynerd">Geeky Nerd</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="animallover" name="persona" value="animallover" />
                <h4><label for="animallover">Animal lover</label></h4>
                <div>

                </div>
            </section>
            <section class="persona">
                <input type="checkbox" id="intellectueel" name="persona" value="intellectueel" />
                <h4><label for="intellectueel">Intellectueel</label></h4>
                <div>

                </div>
            </section>
            <input type="submit" value="Volgende" class="submit-persona" />
        </form>
    </main>
</body>
</html>
<!-- END Chanel -->
