<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kies je persona</title>
</head>
<body>
        <!-- <progress max="3" value="1">
            <div class="progress-fallback">
                <span class="meter-fraction">Stap 1</span>
            </div>
        </progress> -->
    <header class="header-personacheck">
        <h1>Wie ben jij?</h1>
        <p class="text-label">Meerdere antwoorden mogelijk</p>
    </header>
    <main class="form-for-check">
        <form method="post" enctype="multipart/form-data" action="/persona">
        <fieldset class="persona-check">
            <legend><h2>Ik ben echt een...</h2></legend>
            <div class="flexdiv">
                <section class="item persona">
                    <input type="checkbox" id="foodie" name="persona" value="foodie" />
                    <div>

                    </div>
                    <p><label for="foodie">Foodie</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="creatieveling" name="persona" value="creative" />
                    <div>

                    </div>
                    <p><label for="creatieveling">Creatieveling</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="sensatiezoeker" name="persona" value="sensationalist" />
                    <div>

                    </div>
                    <p><label for="sensatiezoeker">Sensatiezoeker</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="joker" name="persona" value="joker" />
                    <div>

                    </div>
                    <p><label for="joker">Grappenmaker</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="girlygirl" name="persona" value="girly" />
                    <div>

                    </div>
                    <p><label for="girlygirl">Girly Girl</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="waaghals" name="persona" value="daredevil" />
                    <div>

                    </div>
                    <p><label for="waaghals">Waaghals</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="avonturier" name="persona" value="adventurer" />
                    <div>

                    </div>
                    <p><label for="avonturier">Avonturier</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="geekynerd" name="persona" value="nerd" />
                    <div>

                    </div>
                    <p><label for="geekynerd">Geeky Nerd</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="animallover" name="persona" value="animallover" />
                    <div>

                    </div>
                    <p><label for="animallover">Animal lover</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="intellectueel" name="persona" value="intellectual" />
                    <div>

                    </div>
                    <p><label for="intellectueel">Intellectueel</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="tomboy" name="persona" value="tomboy" />
                    <div>

                    </div>
                    <p><label for="tomboy">Tomboy</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="wie-ben-ik" name="persona" value="everything" />
                    <div>

                    </div>
                    <p><label for="wie-ben-ik">Wie ben ik?</label></p>
                </section>
            </div>
        </fieldset>


        <fieldset class="persona-check">
            <legend><h2>In mijn vrije tijd doe ik aan...</h2></legend>
            <div class="flexdiv">
                <section class="item hobby">
                    <input type="checkbox" id="gamen"  name="hobby"  value="gamen" />
                    <div>

                    </div>
                    <p><label for="gamen">Gamen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="sporten"  name="hobby"  value="sporten" />
                    <div>

                    </div>
                    <p><label for="sporten">Sporten</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="uitgaan-borrelen"  name="hobby"  value="uitgaan-borrelen" />
                    <div>

                    </div>
                    <p><label for="uitgaan-borrelen">Borrelen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="reizen"  name="hobby"  value="reizen" />
                    <div>

                    </div>
                    <p><label for="reizen">Reizen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="muziek"  name="hobby"  value="muziek" />
                    <div>

                    </div>
                    <p><label for="muziek">Muziek maken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="shoppen"  name="hobby"  value="shoppen" />
                    <div>

                    </div>
                    <p><label for="shoppen">Shoppen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="koken"  name="hobby"  value="koken" />
                    <div>

                    </div>
                    <p><label for="koken">Koken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="lezen"  name="hobby"  value="lezen" />
                    <div>

                    </div>
                    <p><label for="lezen">Lezen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="drugs" name="hobby"  value="drugs" />
                    <div>

                    </div>
                    <p><label for="drugs">Drugs</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="werken" name="hobby"  value="work" />
                    <div>

                    </div>
                    <p><label for="werken">Werken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="other" name="hobby"  value="other" />
                    <div>

                    </div>
                    <p><label for="other">Andere rare hobby</label></p>
                </section>
            </div>
        </fieldset>

        <fieldset class="persona-check">
            <legend><h2>Ik wil graag...</h2></legend>
            <div class="flexdiv">
                <section class="item mood">
                    <input type="checkbox" id="lachen" name="mood" value="lachen" />
                    <div>

                    </div>
                    <p><label for="lachen">huilen van het lachen</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="janken" name="mood" value="janken" />
                    <div>

                    </div>
                    <p><label for="janken">lekker janken</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="spanning" name="mood" value="spanning" />
                    <div>

                    </div>
                    <p><label for="spanning">van spanning stoppen met ademen</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="bang" name="mood" value="bang" />
                    <div>

                    </div>
                    <p><label for="bang">bang gemaakt worden</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="hersendood" name="mood" value="hersendood" />
                    <div>

                    </div>
                    <p><label for="hersendood">zonder te denken voor de tv zitten</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="leren" name="mood" value="leren" />
                    <div>

                    </div>
                    <p><label for="leren">iets leren</label></p>
                </section>
            </div>
        </fieldset>
        <button id="persona-button" class="submit-persona" hidden>Volgende</button>
        <section class="confirm-persona" hidden>
            <div>
                <h2>Bevestig je keuzes</h2>
                <h3>Dit is wat je hebt gekozen</h3>
                <ul>

                </ul>
                <button>Ga terug</button>
                <input id="persona-submit" type="submit" value="Klopt! Bekijk jouw aanbod" class="submit-persona"/>
            </div>
        </section>
        </form>
    </main>

 <script src="/javascripts/persona-steps.js"></script>
</body>
</html>
<!-- END Chanel -->
