<!-- BEGIN Chanel -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Alegreya" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kies je persona</title>
</head>
<body class="check">
        <!-- <progress max="3" value="1">
            <div class="progress-fallback">
                <span class="meter-fraction">Stap 1</span>
            </div>
        </progress> -->
    <header class="header-personacheck">
        <h1>Wie ben jij?</h1>
    </header>
    <main class="form-for-check">
        <p id="condition">
            Je mag minimaal één en maximaal drie eigenschap(pen) kiezen.
        </p>
        <form method="post" action="/persona" id="persona-form">

        <fieldset class="persona-check">
            <legend><h2>Ik ben echt een...</h2></legend>
            <div class="flexdiv">
                <section class="item persona">
                    <input type="checkbox" id="foodie" name="persona" value="foodie" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-jamie.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-jamie.png" />
                        <img src="/img/icons-jamie.png" alt="Jamie Oliver" />
                    </picture>
                    <!-- <div>

                    </div> -->
                    <p><label for="foodie">Foodie</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="creatieveling" name="persona" value="creative" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-vangogh.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-vangogh.png" />
                        <img src="/img/icons-vangogh.png" alt="Vincent van Gogh" />
                    </picture>
                    <p><label for="creatieveling">Creatieveling</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="sensatiezoeker" name="persona" value="sensationalist" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-snooki.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-snooki.png" />
                        <img src="/img/icons-snooki.png" alt="Snooki" />
                    </picture>
                    <p><label for="sensatiezoeker">Sensatiezoeker</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="joker" name="persona" value="joker" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-kevin.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-kevin.png" />
                        <img src="/img/icons-kevin.png" alt="Kevin" />
                    </picture>
                    <p><label for="joker">Grappenmaker</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="girlygirl" name="persona" value="girly" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-kim.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-kim.png" />
                        <img src="/img/icons-kim.png" alt="Kim" />
                    </picture>
                    <p><label for="girlygirl">Girly Girl</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="waaghals" name="persona" value="daredevil" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-therock.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-therock.png" />
                        <img src="/img/icons-therock.png" alt="Dwayne the Rock" />
                    </picture>
                    <p><label for="waaghals">Waaghals</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="avonturier" name="persona" value="adventurer" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-frodo.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-frodo.png" />
                        <img src="/img/icons-frodo.png" alt="Frodo" />
                    </picture>
                    <p><label for="avonturier">Avonturier</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="geekynerd" name="persona" value="nerd" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-steve.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-steve.png" />
                        <img src="/img/icons-steve.png" alt="Steve" />
                    </picture>
                    <p><label for="geekynerd">Geeky Nerd</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="animallover" name="persona" value="animallover" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-caesar.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-caesar.png" />
                        <img src="/img/icons-caesar.png" alt="Cesar Millan" />
                    </picture>
                    <p><label for="animallover">Animal lover</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="intellectueel" name="persona" value="intellectual" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-obama.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-obama.png" />
                        <img src="/img/icons-obama.png" alt="Barack Obama" />
                    </picture>
                    <p><label for="intellectueel">Intellectueel</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="tomboy" name="persona" value="tomboy" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-tomboy.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-tomboy.png" />
                        <img src="/img/icons-tomboy.png" alt="Ruby Rose" />
                    </picture>
                    <p><label for="tomboy">Tomboy</label></p>
                </section>
                <section class="item persona">
                    <input type="checkbox" id="wie-ben-ik" name="persona" value="everything" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-wie.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-wie.png" />
                        <img src="/img/icons-wie.png" alt="Hoofd met vraagteken" />
                    </picture>
                    <p><label for="wie-ben-ik">Wie ben ik?</label></p>
                </section>
            </div>
        </fieldset>


        <fieldset class="persona-check">
            <legend><h2>In mijn vrije tijd doe ik aan...</h2></legend>
            <div class="flexdiv">
                <section class="item hobby">
                    <input type="checkbox" id="gamen"  name="hobby"  value="gaming" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-controller.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-controller.png" />
                        <img src="/img/icons-controller.png" alt="PS4 controller" />
                    </picture>
                    <p><label for="gamen">Gamen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="sporten"  name="hobby"  value="sport" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-football.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-football.png" />
                        <img src="/img/icons-football.png" alt="Rugby bal" />
                    </picture>
                    <p><label for="sporten">Sporten</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="uitgaan-borrelen"  name="hobby"  value="party" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-beer.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-beer.png" />
                        <img src="/img/icons-beer.png" alt="Biertje" />
                    </picture>
                    <p><label for="uitgaan-borrelen">Uitgaan of borrelen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="reizen"  name="hobby"  value="travel" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-airplane.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-airplane.png" />
                        <img src="/img/icons-airplane.png" alt="Vliegtuig" />
                    </picture>
                    <p><label for="reizen">Reizen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="muziek"  name="hobby"  value="music" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-guitar.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-guitar.png" />
                        <img src="/img/icons-guitar.png" alt="Gitaar" />
                    </picture>
                    <p><label for="muziek">Muziek maken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="shoppen"  name="hobby"  value="shopping" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-bag.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-bag.png" />
                        <img src="/img/icons-bag.png" alt="Dolce &amp; Gabbana tas" />
                    </picture>
                    <p><label for="shoppen">Shoppen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="koken"  name="hobby"  value="cooking" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-pan.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-pan.png" />
                        <img src="/img/icons-pan.png" alt="Pan" />
                    </picture>
                    <p><label for="koken">Koken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="lezen"  name="hobby"  value="reading" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-book.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-book.png" />
                        <img src="/img/icons-book.png" alt="Opengeslagen boek" />
                    </picture>
                    <p><label for="lezen">Lezen</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="drugs" name="hobby"  value="drugs" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-pill.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-pill.png" />
                        <img src="/img/icons-pill.png" alt="Een pil" />
                    </picture>
                    <p><label for="drugs">Drugs</label></p>
                </section>
                <section class="item hobby">

                    <input type="checkbox" id="werken" name="hobby"  value="work" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-suitcase.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-suitcase.png" />
                        <img src="/img/icons-suitcase.png" alt="Zakelijke koffer" />
                    </picture>
                    <p><label for="werken">Werken</label></p>
                </section>
                <section class="item hobby">
                    <input type="checkbox" id="other" name="hobby"  value="other" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-soap.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-soap.png" />
                        <img src="/img/icons-soap.png" alt="Uitgesneden zeep" />
                    </picture>
                    <p><label for="other">Andere rare hobby</label></p>
                </section>
            </div>
        </fieldset>

        <fieldset class="persona-check">
            <legend><h2>Ik wil graag...</h2></legend>
            <div class="flexdiv">
                <section class="item mood">
                    <input type="checkbox" id="lachen" name="mood" value="laugh" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-will.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-will.png" />
                        <img src="/img/icons-will.png" alt="Lachende Will Smith" />
                    </picture>
                    <p><label for="lachen">huilen van het lachen</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="janken" name="mood" value="cry" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-darryl.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-darryl.png" />
                        <img src="/img/icons-darryl.png" alt="Huilende Darryl van The Walking Dead" />
                    </picture>
                    <p><label for="janken">lekker janken</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="spanning" name="mood" value="thrill" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-chris.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-chris.png" />
                        <img src="/img/icons-chris.png" alt="Chris Brown die geschrokken kijkt" />
                    </picture>
                    <p><label for="spanning">van spanning stoppen met ademen</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="bang" name="mood" value="scared" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-jack.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-jack.png" />
                        <img src="/img/icons-jack.png" alt="Jack Sparrow die schreeuwt" />
                    </picture>
                    <p><label for="bang">bang gemaakt worden</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="hersendood" name="mood" value="chill" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-kristen.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-kristen.png" />
                        <img src="/img/icons-kristen.png" alt="Kristen Steward met een neutraal gezicht" />
                    </picture>
                    <p><label for="hersendood">zonder te denken voor de tv zitten</label></p>
                </section>
                <section class="item mood">
                    <input type="checkbox" id="leren" name="mood" value="learn" />
                    <picture>
                        <source media="(min-width: 368px)" srcset="/img/icons-bigbang.png" />
                        <source media="(min-width: 0px)" srcset="/img/small-icons-bigbang.png" />
                        <img src="/img/icons-bigbang.png" alt="Jim Parsons van The Big Bang Theory" />
                    </picture>
                    <p><label for="leren">iets leren</label></p>
                </section>
            </div>
        </fieldset>
        <button id="back" class="submit-persona go-back" disabled="true" hidden>Vorige</button>
        <button id="persona-button" class="submit-persona" title="Je moet minstens 1 eigenschap aanklikken" hidden disabled="true">Volgende</button>
        <button type="submit" class="submit-persona">Bekijk jouw aanbod</button>

        <section id="confirm-persona" hidden>
            <div>
                <h2>Bevestig je keuzes</h2>
                <h3>Dit is wat je hebt gekozen</h3>
                <ul id="personal-list">

                </ul>
                <button class="submit-persona go-back" id="confirm-back">Ga terug</button>
                <input id="persona-submit" type="submit" value="Bekijk jouw aanbod" class="submit-persona"/>
            </div>
        </section>

        </form>
    </main>

 <script src="/javascripts/persona-steps.js"></script>
</body>
</html>
<!-- END Chanel -->
