<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kies je persona</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>Wie ben jij?</h1>
        <h2>Ik ben echt een...</h2>
        <h3>Meerdere antwoorden mogelijk</h3>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data" class="personas">
            <section class="persona">
                <div>

                </div>
                <h4>Foodie</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Creatieveling</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Sensatie zoeker</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Soldaat</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Joker</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Girly Girl</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Waaghals</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Avonturier</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Geeky Nerd</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Animal lover</h4>
            </section>
            <section class="persona">
                <div>

                </div>
                <h4>Brainiac</h4>
            </section>
        </form>
    </main>
</body>
</html>
