<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include partials/header.ejs %>
    <main class="overview-container">
       <p>User: <%=name%></p>
    </main>
  </body>
</html>
