<link rel="stylesheet" href="stylesheets/uploadform.css">
<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">

<h1>Recensie Uploaden</h1>

<form id="review-form" action="/upload" enctype="multipart/form-data" method="post">
  <section>
    <h2>Over de recensent</h2>
    <label>Je naam:
      <input type="text" name="name" placeholder="Bijv. 'John Doe'">
    </label>

    <label>Je email:
      <input type="email" name="email" placeholder="Bijv. 'john@company.com'">
    </label>

    <label>Datum: <br>
      <input type="date" name="post_date">
    </label>
  </section>

  <section>
    <h2>Serie meta informatie</h2>

    <label>
      Serienaam:
      <input type="text" name="series_name" placeholder="Bijv. 'Game Of Thrones'">
    </label>

    <label>
      Land van herkomst:
      <input type="text" name="region_code" placeholder="Bijv. 'GB' voor Groot-Brittannië">
    </label>

    <label>
      Beginjaar:
      <input type="text" name="starting_year" placeholder="Bijv. 2011">
    </label>

    <label>
      Eindjaar:
      <input type="text" name="end_year" placeholder="Bijv. 2015">
    </label>

    <div>
      <h3>Categorie:</h3>
      <label>
          <input type="checkbox" name="genre" value="action">
          <span>Actie</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="avontuur">
          <span>Avontuur</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="comedy">
          <span>Comedy</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="documentaire">
          <span>Documentaire</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="drama">
          <span>Drama</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="episch">
          <span>Episch

        </label>

      <label>
          <input type="checkbox" name="genre" value="horror">
          <span>Horror</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="sci-fi">
          <span>Sci-fi</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="oorlog">
          <span>Oorlog</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="romantiek">
          <span>Romantiek</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="muziek">
          <span>Muziek</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="fantasy">
          <span>Fantasy</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="sport">
          <span>Sport</span>

        </label>

      <label>
          <input type="checkbox" name="genre" value="mystery">
          <span>Mystery</span>

        </label>
    </div>

    <div>
      <h3>Beschikbaarheid</h3>
      <p>Op welk platform kan de serie bekeken worden?</p>
      <label>
        <input type="checkbox" name="platform" value="netflix">
        <span>Netflix</span>

      </label>
      <label>
          <input type="checkbox" name="platform" value="hbo">
        <span>HBO</span>

      </label>
      <label>
        <input type="checkbox" name="platform" value="videoland">
        <span>Videoland</span>

      </label>
    </div>

    <div>
      <h3>Tijdperk</h3>
      <p>In welke tijd speelt het zich af?</p>
      <label>
        <input type="checkbox" name="tijdperk" value="prehistorie">
        <span>Prehistorie</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="romeinse-tijd">
        <span>Romeinse Tijd</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="middeleeuwen">
        <span>Middeleeuwen</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="victoriaans">
        <span>Victoriaanse Tijd</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="wo1">
        <span>Eerste Wereldoorlog</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="wo2">
        <span>Tweede Wereldoorlog</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="late20">
        <span>Late 20e Eeuw</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="heden">
        <span>Heden</span>

      </label>
      <label>
        <input type="checkbox" name="tijdperk" value="toekomst">
        <span>Toekomst</span>

      </label>
    </div>

    <div>
      <h3>Passende Persona's</h3>
      <p>Welke persona's passen het beste bij deze serie?</p>
      <label>
        <input type="checkbox" name="persona" value="foodie">
        <span>Foodie</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="creatieveling">
        <span>Creatieveling</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="sensatiezoeker">
        <span>Sensatiezoeker</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="soldaat">
        <span>Soldaat</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="joker">
        <span>Joker</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="girly-girl">
        <span>Girly Girl</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="waaghals">
        <span>Waaghals</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="avonturier">
        <span>Avonturier</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="geeky-nerd">
        <span>Geeky Nerd</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="animal-lover">
        <span>Animal Lover</span>

      </label>
      <label>
        <input type="checkbox" name="persona" value="intellectual">
        <span>Intellectual</span>

      </label>
    </div>

    <div>
      <h3>Passende Hobby's</h3>
      <p>Welke hobby's passen het beste bij deze serie?</p>
      <label>
        <input type="checkbox" name="hobby" value="gamen">
        <span>Gamen</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="uitgaan">
        <span>Uitgaan/borrelen</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="reizen">
        <span>Reizen</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="muziek">
        <span>Muziek</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="shoppen">
        <span>Shoppen</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="koken">
        <span>Koken</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="lezen">
        <span>Lezen</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="drugs">
        <span>Drugs</span>

      </label>
      <label>
        <input type="checkbox" name="hobby" value="werken">
        <span>Werken</span>

      </label>
    </div>

    <div>
      <h3>Passende Moods</h3>
      <p>Welke moods passen het beste bij deze serie?</p>
      <label>
        <input type="checkbox" name="mood" value="bang-worden">
        <span>Ik wil bang gemaakt worden</span>

      </label>
      <label>
        <input type="checkbox" name="mood" value="janken">
        <span>Ik wil lekker janken</span>

      </label>
      <label>
        <input type="checkbox" name="mood" value="spanning">
        <span>Ik wil van spanning stoppen met ademen</span>

      </label>
      <label>
        <input type="checkbox" name="mood" value="lachen">
        <span>Ik wil huilen van het lachen</span>

      </label>
      <label>
        <input type="checkbox" name="mood" value="chillen">
        <span>Ik wil hersendood voor de TV zitten</span>

      </label>
    </div>

    <div>
      <h3>Leeftijdsclassificatie</h3>
      <label>
        <span>Vanaf welke leeftijd mag de serie bekeken worden?</span>
        <input type="text" name="leeftijd" placeholder="Bijv. 12">
      </label>
    </div>

    <div>
      <h3>Seizoenen</h3>
      <label>
        <span>Aantal:</span>
        <input type="text" name="seizoenen" placeholder="Bijv. 4">
      </label>
    </div>

    <div>
      <h3>Afleveringen</h3>
      <label>
        <span>Aantal:</span>
        <input type="text" name="afleveringen" placeholder="Bijv. 32">
      </label>
      <label>
        <span>Duur:</span>
        <input type="text" name="duur" placeholder="Bijv. 55 minuten">
      </label>
    </div>

    <div>
      <h3>Cast</h3>
      <label>
        <span>Hoofdacteurs/actrices (maximaal 6, scheiden met komma)</span>
        <input type="text" name="acteurs" placeholder="Bijv. Johnny Depp, Leonardo DiCaprio">
      </label>
    </div>

    <div>
      <h3>Producenten</h3>
      <label>
        <span>Producenten (maximaal 6, scheiden met komma)</span>
        <input type="text" name="producers" placeholder="Bijv. Peter Jackson, Steven Spielberg">
      </label>
    </div>

    <div>
      <h3>Awards</h3>
      <label>
        <span>Hoeveel awards heeft de serie gewonnen?</span>
        <input type="text" name="awards" placeholder="Bijv. 4">
      </label>
    </div>

    <div>
      <h3>Nominaties</h3>
      <label>
        <span>Hoevaak is de serie genomineerd?</span>
        <input type="text" name="awards" placeholder="Bijv. 12">
      </label>
    </div>

    <div>
      <h3>IMDB rating</h3>
      <label>
        <span>Wat is de IMDB beoordeling?</span>
        <input type="text" name="imdb_rating" placeholder="Bijv. 7.4">
      </label>
    </div>

    <div>
      <h3>Trailer</h3>
      <label>
        <span>Link naar de trailer</span>
        <input type="text" name="trailer_url" placeholder="Bijv. https://youtube.com/trailer">
      </label>
    </div>

    <div>
      <h3>Afbeelding</h3>
      <label>
        <span>Link naar afbeelding</span>
        <input type="text" name="img_url" placeholder="Bijv. https://img.com/serie">
      </label>
    </div>


  </section>
  <section>
    <h2>Recensie</h2>
    <h3>Plot:</h3>
    <textarea id="plot" name="plot" rows="8" cols="80" placeholder="Korte omschrijving van de serie"></textarea>
    <h3>Complete recensie:</h3>
    <div id="editor">
    </div>
    <textarea id='review' hidden name="review"></textarea>
    <label>
      Welk cijfer geef je aan deze serie? (1 t/m 5): <br>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </label>
  </section>

  <input type="submit" value="Upload">
</form>

<script src="//cdn.quilljs.com/1.2.6/quill.min.js"></script>
<script type="text/javascript" src="js/editor.js">
</script>
