<link rel="stylesheet" href="stylesheets/uploadform.css">
<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">

<h1>Recensie Uploaden</h1>

<form id="review-form" action="/upload" enctype="multipart/form-data" method="post">
    <label>Je naam:
      <input type="text" name="name" placeholder="Bijv. 'John Doe'">
    </label>
    <label>Je email:
      <input type="email" name="email" placeholder="Bijv. 'john@company.com'">
    </label>

    <label>Om welke serie gaat deze recensie?
      <input type="text" name="series_name" placeholder="Bijv. 'Game Of Thrones'">
    </label>

    <label>De recensie:</label>
    <div id="editor">
    </div>
    <textarea id='review' hidden name="review"></textarea>

    <input type="submit" value="Upload">
</form>

<script src="//cdn.quilljs.com/1.2.6/quill.min.js"></script>
<script type="text/javascript" src="js/editor.js">

</script>
