
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/uploadform.css">
  <title>Upload een recensie</title>
</head>
<body class="upload-form-body">
  <form id="review-form" action="/upload" method="post" autocomplete="on">
    <h1 class="form-title">Recensie Uploaden</h1>

    <section>
      <h2>Over de recensent</h2>
      <label>
        <p>Je naam:</p>
        <input type="text" name="name" placeholder="Bijv. 'John Doe'" required>
      </label>

      <label>
        <p>Je email:</p>
        <input type="email" name="email" placeholder="Bijv. 'john@company.com'" required>
      </label>

      <label>
        <p>Upload Datum:</p>
        <input type="date" name="post_date" required>
      </label>
    </section>

    <section>
      <h2>Serie meta informatie</h2>

      <label>
        <p>Titel:</p>
        <p class="sub-line">Zorg ervoor dat de titel uniek is. Wanneer een serie twee verschillende titels heeft. Gebruik dan de meest frequent gebruikte titel.</p>
        <input type="text" name="seriesName" placeholder="Bijv. 'Game Of Thrones'" required>
      </label>

      <label>
        <p>Land van herkomst:</p>
        <p class="sub-line">Gebruik de internationale landcodes. Zorg ervoor dat ze allemaal in hoofdletters zijn, zodat er altijd overeenkomsten zijn.</p>
        <input type="text" name="regionCode" placeholder="Bijv. 'GB' voor Groot-Brittannië" required>
      </label>

      <label>
        <p>Beginjaar:</p>
        <p class="sub-line">Het jaartal waarin de serie begon met uitzenden.</p>
        <input type="text" name="startingYear" placeholder="Bijv. 2011" required>
      </label>

      <label>
        <p>Eindjaar:</p>
        <p class="sub-line">Draait de serie nog steeds? Zet dan ‘heden’ in het veld.</p>
        <input type="text" name="endYear" placeholder="Bijv. 2015" required>
      </label>

      <div>
        <h3>Categorie:</h3>
        <p class="sub-line">Vink de genres aan waarin deze serie hoort.</p>
        <label>
            <input type="checkbox" name="genre" value="action">
            <span>Actie</span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="adventure">
            <span>Avontuur</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="comedy">
            <span>Comedy</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="documentary">
            <span>Documentaire</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="drama">
            <span>Drama</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="epic">
            <span>Episch
        </label>

        <label>
            <input type="checkbox" name="genre" value="horror">
            <span>Horror</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="scifi">
            <span>Sci-fi</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="war">
            <span>Oorlog</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="romance">
            <span>Romantiek</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="music">
            <span>Muziek</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="fantasy">
            <span>Fantasy</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="sport">
            <span>Sport</span>
        </label>

        <label>
            <input type="checkbox" name="genre" value="mystery">
            <span>Mystery</span>
        </label>
      </div>

      <div>
        <h3>Beschikbaarheid</h3>
        <p class="sub-line">Op welk platform kan de serie bekeken worden?</p>
        <label>
          <input type="checkbox" name="platform" value="netflix">
          <span>Netflix</span>
        </label>
        <label>
          <input type="checkbox" name="platform" value="hbo">
          <span>HBO</span>
        </label>
        <label>
          <input type="checkbox" name="platform" value="videoland">
          <span>Videoland</span>
        </label>
        <label>
          <input type="checkbox" name="platform" value="disc">
          <span>DVD/Bluray</span>
        </label>
      </div>

      <div>
        <h3>Tijdperk</h3>
        <p class="sub-line">In welke tijd speelt het verhaal zich af?</p>
        <label>
          <input type="checkbox" name="period" value="prehistoric">
          <span>Prehistorie</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="roman">
          <span>Romeinse Tijd</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="middleages">
          <span>Middeleeuwen</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="victorian">
          <span>Victoriaanse Tijd</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="wo1">
          <span>Eerste Wereldoorlog</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="wo2">
          <span>Tweede Wereldoorlog</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="late20">
          <span>Late 20e Eeuw</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="present">
          <span>Heden</span>

        </label>
        <label>
          <input type="checkbox" name="period" value="future">
          <span>Toekomst</span>

        </label>
      </div>

      <div>
        <h3>Passende Persona's</h3>
        <p>Welke persona's passen het beste bij deze serie?</p>
        <label>
          <input type="checkbox" name="persona" value="foodie">
          <span>Foodie</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="creative">
          <span>Creatieveling</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="sensationalist">
          <span>Sensatiezoeker</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="joker">
          <span>Grappenmaker</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="girly">
          <span>Girly Girl</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="tomboy">
          <span>Tomboy</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="daredevil">
          <span>Waaghals</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="adventurer">
          <span>Avonturier</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="nerd">
          <span>Geeky Nerd</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="animallover">
          <span>Dierenliefhebber</span>

        </label>
        <label>
          <input type="checkbox" name="persona" value="intellectual">
          <span>Intellectueel</span>

        </label>
      </div>

      <div>
        <h3>Passende Hobby's</h3>
        <p class="sub-line">Welke hobby's passen het beste bij deze serie?</p>
        <label>
          <input type="checkbox" name="hobby" value="gaming">
          <span>Gamen</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="party">
          <span>Uitgaan/borrelen</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="travel">
          <span>Reizen</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="music">
          <span>Muziek</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="shopping">
          <span>Shoppen</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="cooking">
          <span>Koken</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="reading">
          <span>Lezen</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="drugs">
          <span>Drugs</span>

        </label>
        <label>
          <input type="checkbox" name="hobby" value="working">
          <span>Werken</span>

        </label>
      </div>

      <div>
        <h3>Passende Moods</h3>
        <p class="sub-line">Welke moods passen het beste bij deze serie?</p>
        <label>
          <input type="checkbox" name="mood" value="scared">
          <span>Ik wil bang gemaakt worden</span>

        </label>
        <label>
          <input type="checkbox" name="mood" value="cry">
          <span>Ik wil lekker janken</span>

        </label>
        <label>
          <input type="checkbox" name="mood" value="thrill">
          <span>Ik wil van spanning stoppen met ademen</span>

        </label>
        <label>
          <input type="checkbox" name="mood" value="laugh">
          <span>Ik wil huilen van het lachen</span>

        </label>
        <label>
          <input type="checkbox" name="mood" value="chill">
          <span>Ik wil hersendood voor de TV zitten</span>

        </label>
        <label>
          <input type="checkbox" name="mood" value="learn">
          <span>Ik wil iets leren</span>

        </label>
      </div>

      <div>
        <h3>Leeftijdsclassificatie</h3>
        <label>
          <p class="sub-line">Vanaf welke leeftijd mag de serie bekeken worden?</p>
          <input type="text" name="ageRestriction" placeholder="Bijv. 12" required>
        </label>
      </div>

      <div>
        <h3>Seizoenen</h3>
        <label>
          <span>Aantal:</span>
          <input type="text" name="seasons" placeholder="Bijv. 4" required>
        </label>
      </div>

      <div>
        <h3>Afleveringen</h3>
        <label>
          <span>Totaal Aantal:</span>
          <input type="text" name="episodes" placeholder="Bijv. 32" required>
        </label>
        <label>
          <span>Duur per aflevering:</span>
          <input type="text" name="duration" placeholder="Bijv. 55 minuten" required>
        </label>
      </div>

      <div>
        <h3>Cast</h3>
        <label>
          <span>Hoofdacteurs/actrices (maximaal 6, scheiden met komma)</span>
          <input type="text" name="actors" placeholder="Bijv. Johnny Depp, Leonardo DiCaprio" required>
        </label>
      </div>

      <div>
        <h3>Regie</h3>
        <label>
          <span>Regie (maximaal 2, scheiden met komma)</span>
          <input type="text" name="producers" placeholder="Bijv. Peter Jackson, Steven Spielberg" required>
        </label>
      </div>

      <div>
        <h3>IMDB rating</h3>
        <label>
          <span>Wat is de IMDB beoordeling?</span>
          <input type="text" name="imdbRating" placeholder="Bijv. 7.4" required>
        </label>
      </div>

      <div>
        <h3>Trailer</h3>
        <p class="sub-line">Plaats hier de <em>Embed URL</em> (dus niet de reguliere link) naar de trailer op YouTube. Geen trailer? Laat het veld dan leeg.</p>
        <label>
          <span>Link naar de emtrailer</span>
          <input type="text" name="trailerURL" placeholder="Bijv. https://www.youtube.com/embed/v7MGUNV8MxU">
        </label>
      </div>

      <div>
        <h3>Afbeelding</h3>
        <p class="sub-line">Plaats hier de URL naar de poster van de serie, in portret modus.</p>
        <label>
          <span>Link naar afbeelding</span>
          <input type="text" name="imgURL" placeholder="Bijv. https://img.com/serie" required>
        </label>
      </div>


    </section>
    <section>
      <h2>Recensie</h2>

      <label>
        <h3>Titel</h3>
        <input type="text" name="reviewTitle" placeholder="Titel van de recensie">
      </label>

      <label>
        <h3>Plot:</h3>
        <p class="sub-line">Korte omschrijving van de serie (voor op de website):</p>
        <textarea name="reviewPlot" rows="8" cols="80" placeholder="Korte omschrijving van de serie" required></textarea>
      </label>

      <label>
        <h3>Inleiding:</h3>
        <textarea name="reviewIntro" rows="8" cols="80" placeholder="Inleiding recensie"></textarea>
      </label>

      <label>
        <h3>Recensie:</h3>
        <textarea name="reviewBody" rows="8" cols="80" placeholder="Plaats de recensie hier"></textarea>
      </label>

      <label>
        Welk cijfer geef je aan deze serie? (1 t/m 10): <br>
         <input type="text" name="reviewRating" required placeholder="Bijv. 8">
      </label>
    </section>

    <input type="submit" value="Upload">
  </form>
</body>
</html>





<script src="//cdn.quilljs.com/1.2.6/quill.min.js"></script>
<script type="text/javascript" src="js/editor.js">
</script>
