#serie-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
    font-family: sans-serif;
}
    #serie-steps header {
        flex-basis: 100%;
        width: 100%;
        height: 2px;
        margin: 30px 0;
        background-color: silver;
        position: relative;
    }
        #serie-steps header[data-steps="1"]{
            background-image: linear-gradient(left, #4d8de3, #4d8de3 25%, transparent 25%, transparent 100%);
            background-image: -webkit-linear-gradient(left, #4d8de3, #4d8de3 25%, transparent 25%, transparent 100%)
        }
        #serie-steps header[data-steps="2"]{
            background-image: linear-gradient(left, #4d8de3, #4d8de3 50%, transparent 50%, transparent 100%);
            background-image: -webkit-linear-gradient(left, #4d8de3, #4d8de3 50%, transparent 50%, transparent 100%)
        }
        #serie-steps header[data-steps="3"]{
            background-image: linear-gradient(left, #4d8de3, #4d8de3 75%, transparent 75%, transparent 100%);
            background-image: -webkit-linear-gradient(left, #4d8de3, #4d8de3 75%, transparent 75%, transparent 100%)
        }
        #serie-steps header[data-steps="4"]{
            background-color: #4d8de3;
        }
            #serie-steps header[data-steps="1"] ul li:nth-of-type(1) span,
            #serie-steps header[data-steps="2"] ul li:nth-of-type(1) span,
            #serie-steps header[data-steps="2"] ul li:nth-of-type(2) span,
            #serie-steps header[data-steps="3"] ul li:nth-of-type(1) span,
            #serie-steps header[data-steps="3"] ul li:nth-of-type(2) span,
            #serie-steps header[data-steps="3"] ul li:nth-of-type(3) span,
            #serie-steps header[data-steps="4"] ul li:nth-of-type(1) span,
            #serie-steps header[data-steps="4"] ul li:nth-of-type(2) span,
            #serie-steps header[data-steps="4"] ul li:nth-of-type(3) span,
            #serie-steps header[data-steps="4"] ul li:nth-of-type(4) span{
                background-color: #4d8de3;
            }
        #serie-steps header ul {
            padding: 0;
            width: 100%;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            position: absolute;
            top: -20px;
            margin: 0;
        }
            #serie-steps header ul li {
                color: white;
                flex-basis: 25%;
                width: 25%;
                text-align: center;
            }
                #serie-steps header ul li span {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: 0 auto;
                    line-height: 40px;
                    border-radius: 50%;
                    background-color: silver;
                }
    #serie-steps section {
        flex-basis: 50%;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: .4s;
    }
        #serie-steps section.active {
            padding: 0px;
            position: relative;
        }
        #serie-steps section:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f01c35;
            text-align: center;
            line-height: 50px;
            font-size: 1.5em;
            font-weight: bold;
            color: white;
            transition: .4s;
        }
            #serie-steps section.active:before {
                top: -5px;
                left: -5px;
            }
            #serie-steps section#one:before {
                content: '1';
            }
            #serie-steps section#two:before {
                content: '2';
            }
            #serie-steps section#three:before {
                content: '3';
            }
            #serie-steps section#four:before {
                content: '4';
            }
        #serie-steps section img {
            width: 100%;
            max-height: 80%;
        }
        #serie-steps section h2 {
            margin: 0;
            padding: 1em 0;
            box-sizing: border-box;
            text-align: center;
            font-size: 14px;
            height: 3em;
            background-color: #fff;
        }
