#serie-overview {
    background-color: #f6f6f6;
    color: #000;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
    #serie-overview h1 {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
    #serie-overview main {
        flex-basis: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        height: calc(100% - 8em);
    }
        #serie-overview main section {
            flex-grow: 1;
            height: 11em;
            width: 8em;
            display: block;
            position: relative;
        }
            #serie-overview main section a {
                position: relative;
                display: block;
            }
            #serie-overview main section h2 {
                position: absolute;
                top: -20px;
                left: -20px;
                background-color: #F66556;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                color: #fff;
                font-size: 1.2em;
                line-height: 40px;
            }
            #serie-overview main section img {
                height: 11.5em;
                width: 8em;
            }
            #serie-overview main section[data-num="1"],
            #serie-overview main section[data-num="2"],
            #serie-overview main section[data-num="1"] img,
            #serie-overview main section[data-num="2"] img{
                height: 18em;
                width: 11em;
            }
