#serie-steps {
    background-color: #f6f6f6;
}
#serie-steps .header-nav {
    display: none;
}
#serie-steps .steps-nav {
    display: block;
    height: 3.5em;
}
    #serie-steps .steps-nav img {
        width: 2em;
        height: 2em;
        margin: .75em 0 0 1em ;
        float: left;
        position: absolute;
        clear: both;
    }
    #serie-steps .steps-nav h1 {
        font-size: 2em;
        line-height: 1.7;
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        margin: 0;
    }

#serie-steps main {
    background-color: #f6f6f6;
    font-family: sans-serif;
}
    #serie-steps main > h2 {
        visibility: hidden;
        position: absolute;
    }
    #serie-steps p {
        float: left;
        width: 50%;
        font-size: 1.1em;
        /*sfont-weight: bold;*/
        line-height: 40px;
        margin: 0;
        padding-left: 20px;
        box-sizing: border-box;
    }
        #serie-steps ul {
            float: left;
            padding: 0 20px 0 0;
            box-sizing: border-box;
            width: 50%;
            height: 40px;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            margin: 5px 0 0 0;
            justify-content: flex-end;
        }
            #serie-steps ul li {
                text-align: center;
                margin: 0 2px;
            }
                #serie-steps ul li span {
                    width: 30px;
                    height: 30px;
                    font-size: 1.2em;
                    display: block;
                    margin: 0 auto;
                    box-sizing: border-box;
                    font-weight: bold;
                    line-height: 32px;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0px 3px 3px #ddd;
                }
                    #serie-steps ul[data-steps="1"] li:nth-of-type(1) span,
                    #serie-steps ul[data-steps="2"] li:nth-of-type(1) span,
                    #serie-steps ul[data-steps="2"] li:nth-of-type(2) span,
                    #serie-steps ul[data-steps="3"] li:nth-of-type(1) span,
                    #serie-steps ul[data-steps="3"] li:nth-of-type(2) span,
                    #serie-steps ul[data-steps="3"] li:nth-of-type(3) span,
                    #serie-steps ul[data-steps="4"] li:nth-of-type(1) span,
                    #serie-steps ul[data-steps="4"] li:nth-of-type(2) span,
                    #serie-steps ul[data-steps="4"] li:nth-of-type(3) span,
                    #serie-steps ul[data-steps="4"] li:nth-of-type(4) span{
                        background-color: #F66556;
                        color: #f6f6f6;
                        box-shadow: 3px 3px 3px rgba(182, 75, 75, 0.78) inset;
                    }
    #serie-steps form {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #serie-steps label {
        width: 8em;
        margin: 10px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: .4s;
        z-index: 1;
        cursor: pointer;
        box-shadow: 4px 4px 0px #ddd;
    }
        #serie-steps label#active {
            transform: scale(1.2);
            z-index: 2;
        }
        #serie-steps label:before {
            content: '';
            opacity: 0;
            position: absolute;
            top: -10px;
            left: -10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #F66556;
            text-align: center;
            line-height: 50px;
            font-size: 1.5em;
            font-weight: bold;
            color: white;
            transition: .4s;
            z-index: 4;
        }
            #serie-steps label#active:before {
                top: -10px;
                left: -10px;
            }
            #serie-steps label.one:before {
                opacity: 1;
                content: '1';
            }
            #serie-steps label.two:before {
                opacity: 1;
                content: '2';
            }
            #serie-steps label.three:before {
                opacity: 1;
                content: '3';
            }
            #serie-steps label.four:before {
                opacity: 1;
                content: '4';
            }
        #serie-steps label input[type="checkbox"] {
            clip: rect(0,0,0,0);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
            #serie-steps label input[type="checkbox"]:focus + img,
            #serie-steps label img:hover {
                border: 2px dashed black;
                border-bottom: 0px;
            }
                #serie-steps label input[type="checkbox"]:focus ~ a,
                #serie-steps label img:hover ~ a {
                    border: 2px dashed black;
                    border-top: 0px;
                }
        #serie-steps label img {
            width: 100%;
            height: 11em;
        }
        #serie-steps label a {
            box-sizing: border-box;
            text-decoration: none;
            background-color: #fff;
            padding-left: 10px;
            height: 3em;
            line-height: 3em;
        }
            #serie-steps label a h2 {
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                font-size: 14px;
                color: #000;
            }
        #serie-steps footer {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            background-color: #f6f6f6;
        }
            #serie-steps footer input {
                width: 50%;
                height: 2em;
                line-height: 2em;
                padding: 0;
                font-size: 1.3em;
                cursor: pointer;
                background-color: #F66556;
                border: 0;
                transition: 0.3s;
                border-radius: none;
                box-shadow: none;
                position: fixed;
                bottom: 0;
                right: 0;
                color: #fff;
            }
                #serie-steps footer input[disabled]{
                    background-color: #ddd;
                    color: #999;
                }
                #serie-steps footer a {
                    font-size: 150%;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                }
    @media screen and (min-width: 21em){
        #serie-steps p {
            font-size: 1.3em;
        }
    }
    @media screen and (min-width: 25em){
        #serie-steps label {
            width: 10em;
        }
        #serie-steps label img {
            width: 100%;
            height: 13em;
        }
    }
    @media screen and (min-width: 30em){
        #serie-steps main {
            margin-top: 8em;
        }
            #serie-steps label {
                margin-top: 2em;
                width: 14em;
            }
                #serie-steps label img {
                    width: 100%;
                    height: 18em;
                }
                #serie-steps label a {
                    height: 5em;
                    line-height: 5em;
                }
                    #serie-steps label a h2 {
                        font-size: 1.5em;
                    }
                #serie-steps label#active {
                    transform: scale(1.1);
                    z-index: 2;
                }
                #serie-steps label:before {
                    top: -25px;
                    left: -25px;
                    width: 60px;
                    height: 60px;
                    font-size: 2.5em;
                    line-height: 60px;
                }
                    #serie-steps label#active:before {
                        top: -25px;
                        left: -25px;
                    }
        #serie-steps footer input {
            width: 30%;
            height: 2em;
            line-height: 1.5;
            font-size: 2em;
        }
            #serie-steps footer input[disabled]{
                background-color: #ddd;
            }
    }
    @media screen and (min-width: 40em){
        #serie-steps .header-nav {
            display: block;
        }
        #serie-steps .steps-nav {
            display: none;
        }
        #serie-steps label {
            width: 20em;
        }
        #serie-steps label img {
            width: 100%;
            height: 27em;
        }
    }
