#series-detail {
    background-color: #f6f6f6;
    color: #000;
    position: relative;
}
    #series-detail h1,
    #series-detail h3,
    #series-detail p {
        padding: 0 1em;
    }
    #series-detail h1 {
        font-size: 2em;
        line-height: 2;
        width: 100%;
        text-align: center;
    }
    #series-detail h3 {
        margin: 1em 0;
        font-size: 1.3em;
    }
    #series-detail p.date-info {
        font-weight: bold;
        font-size: 1.2em;
    }
    #series-detail .backlink {
        color: #000;
        font-size: 3em;
        position: absolute;
        left: 10px;
        top: 0px;
        line-height: 1.5;
    }
        #series-detail section.poster {
            max-height: 30em;
            overflow: hidden;
        }
            #series-detail section.poster span {
                position: absolute;
                right: 0;
                top: 15.6em;
                width: 70px;
                height: 70px;
                background-color: #f66556;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                font-size: 2em;
                line-height: 70px;
                z-index: 3;
            }
        #series-detail section.video {
            text-align: center;
        }
            #series-detail section.video iframe {
                border: none;
                width: 350px;
                height: 250px;
            }

/*Intro Animation CSS*/
@supports(animation: fadeIn) {
    .series-game-intro main {
        display: flex;
        justify-content: center;
    }
    #intro-1, #intro-2, #intro-3 {
        position: absolute;
        display: flex;
        margin-top: 2em;
        flex-direction: column;
        justify-content: space-around;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    #intro-3 {
        margin-top: 10em;
    }
    #next {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #intro-1 {
        animation-name: anim-1;
    }
    #intro-2 {
        animation-name: anim-2;
    }
    #intro-3 {
        animation-name: anim-3;
    }
    @keyframes anim-1 {
        0%, 8.3% {
            opacity: 0;
        }
        8.3%, 25% {
            opacity: 1;
        }
        33.33%, 100% {
            opacity: 0;
        }
    }
    @keyframes anim-2 {
        0%, 33.33% {
            opacity: 0;
        }
        41.63%, 58.29% {
            opacity: 1;
        }
        66.66%, 100% {
            opacity: 0;
        }
    }
    @keyframes anim-3 {
        0%, 66.66% {
            opacity: 0;
        }
        74.96%, 91.62% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
