#serie-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
}
    #serie-steps h1 {
        flex-basis: 100%;
        width: 100%;
        color: #fff;
        text-align: center;
    }
    #serie-steps section {
        flex-basis: 50%;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
        #serie-steps section img {
            width: 100%;
            max-height: 80%;
        }
        #serie-steps section h2 {
            margin: 0;
            padding: 1em 0;
            box-sizing: border-box;
            text-align: center;
            font-size: 16px;
            height: 3em;
            background-color: #fff;
        }
