.review-page {
    section {
        padding: 1em;
    }
    h2 {
        color: #000000;
    }
    a {
        color: #F76655;
        // color: #333333;
        cursor: pointer;
        margin: 1em;
        font-size: 1.2em;
        font-weight: 400;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
}

body {
    background-color: #ffffff;
}

.personacheck-results {
    h2 {
        color: #000000;
    }
    h1 {
        margin: 1em 0.7em;
        font-size: 1.3em;
        white-space: nowrap;
        span {
            font-size: 0.8em;
            font-family: sans-serif;
            margin: 1em 1em;
            font-weight: 500;
        }
    }
    // >p {
    //     font-size: 1em;
    //     font-family: sans-serif;
    //     margin: 1em 1em;
    // }
}

.header-nav {
    height: 3em;
}

.overview-container {
    a {
        // color: #F76655;
        color: #5d5d5d;
        cursor: pointer;
        margin: 1em;
        font-size: 1.2em;
        font-weight: 500;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    .movie {
        cursor: pointer;
        h3 {
            font-weight: 500;
        }
    }
}

.header-nav {
    margin-bottom: 1px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    @media (min-width: 40em) {
        padding-bottom: 29.25%;
        display: none;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        @media (min-width: 40em) {
            display: none;
            width: 50%;
        }
    }
}

.img-container {
    width: 65%;
    display: none;
    @media (min-width: 40em) {
        width: 30%;
        margin-top: 3.5em;
        display: unset;
    }
    img {
        width: 100%;
    }
}

.movie-details {
    // padding: 1em;
    @supports (display: flex) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        @media (min-width: 50em) {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
    // @media (min-width: 40em) {
    //     width: 30%;
    // }
    h1 {
        font-size: 2.5em;
        font-weight: 800;
        margin: 0.5em 0;
        @media (min-width: 40em) {
            // position: absolute;
            // left: 52.2%;
            // top: 15%;
        }
    }
    p {
        line-height: 160%;
        padding: 0.3em 0;
        // margin-bottom: 1em;
        span {
            font-weight: 600;
        }
    }
    section:nth-child(3) {
        // display: flex;
        // flex-wrap: wrap;
        @media (min-width: 40em) {
            width: 40%;
        }
    }
}

.review {
    padding: 1em;
    @media (min-width: 40em) {
        margin: 2em 0 2em 7.2%;
        width: 40%;
    }
}

.comments {
    padding: 0 1em;
    width: 100%;
    @media (min-width: 45em) {
        width: 45%;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        @media (min-width: 45em) {
            width: 90%;
        }
        textarea {
            height: 8em;
            width: 100%;
            margin-bottom: 0.3em;
            border: 1px solid #ccc;
        }
        label {
            display: inherit;
            flex-direction: inherit;
            margin-top: 0.5em;
            span {
                font-weight: 600;
                margin: 0.5em 0;
            }
        }
        legend {
            font-weight: 600;
            font-size: 1.2em;
        }
    }
    select {
        width: 9em;
        height: 3em;
        border: 1px solid #ccc;
        background: #f3f3f3;
        font-size: 1em;
        // border: 0;
        // background-color: #eee;
        // color: grey;
        // font-size: 14px;
        // -webkit-appearance: none;
        // outline: none;
        // border-radius: 0;
        // text-indent: 25%;
    }
    option {
        text-align: center;
    }
    input[type="submit"] {
        padding: 0.5rem 0.5rem;
        width: 50%;
        margin-top: 0.5em;
        background-color: #F76655;
        border: none;
        box-shadow: grey 1px 1px 5px;
        color: white;
        cursor: pointer;
        font-size: 1.2em;
    }
}

.comment-list {
    li {
        padding: 0.5em 0.5em;
        display: flex;
        align-items: flex-start;
        >p {
            display: inherit;
            flex-direction: column;
            align-items: center;
            font-size: 0.8em;
            padding: 0.5rem 0.9rem;
            margin: 0em 1em;
            border: 1px solid #F76655;
            color: #F76655;
            font-family: sans-serif;
            span {
                font-size: 2em;
            }
        }
        div {
            width: 100%;
            p {
                font-size: 1.3em;
                width: 85%;
            }
            div {
                display: flex;
                align-items: center;
                margin-bottom: 0.8em;
                width: 90%;
            }
        }
    }
    hr {
        width: 90%;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
    }
    h4 {
        span {
            font-size: 1.5em;
            margin-right: 0.5em;
        }
    }
    time {
        font-size: 0.8em;
        margin-left: auto;
        margin-right: 0.5em;
    }
}

@media (max-width: 20em) {
    .movie h3 {
        max-width: 11em;
        font-size: 0.9em;
    }
    .movie img {
        height: 15em;
        width: 10em;
    }
}
