.form-filter {
    display: flex;
    margin-top: .5em;
    flex-direction: column;
    width: 10em;
    position: absolute;
    z-index: 10;
    left: 0;
    height: 60em;
    background-color: #ffffff;
}

//remove generic styles!!!
body {
    margin-top: 8em!important;
}

input[class="filter-checkbox"] {
    clip: rect(0, 0, 0, 0);
    position: unset!important;
}

label {
    display: block;
}
