@import url('https://fonts.googleapis.com/css?family=Alegreya');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-align: center;
    // margin: 1em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    line-height: 1.7em;
}

ul {
    list-style-type: none;
}

hr {
    width: 80em;
    margin: 0 auto;
    color: lightgrey;
}

img {
    width: 100%;
}

.hide {
    display: none!important;
}

.message-area {
    margin: 0 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@supports (display:flex) {
    .overview-container {
        @media screen and (max-width: 40em) {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    .match-overview-container,
    .review-overview-container {
        max-width: 80em;
        margin: 2em auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .match-overview-container {
        margin-top: 5em;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        h1 {
            width: 100%;
            margin: 1em 0;
        }
        .best-match {
            position: relative;
            a {
                color: #333;
            }
            .best-match-header {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: #FFCC00;
                padding: 0.5em;
            }
            @media screen and (max-width: 40em) {
                width: 100vw;
            }
            img {
                @media screen and (max-width: 40em) {
                    width: 100vw;
                    height: auto;
                }
            }
        }
        .secondary-match {
            img {

            }
            @media screen and (max-width: 40em) {
                display: none;
            }
        }
        img {
            height: 20em;
            width: 15em;
        }
        @media screen and (max-width: 40em) {
            margin-top: 0;
            width: 100vw;
        }
    }
    h3 {
        max-width: 11em;
        white-space: nowrap;
    }
    .review-overview-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        @media screen and (max-width: 40em) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        h2 {
            width: 100%;
            margin: 0 0 1em 0;
        }
        .review {
            width: 45%;
            height: 19em;
            margin: 2em 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            position: relative;
            @media screen and (max-width: 40em) {
                width: 100%;
                height: auto;
                padding-bottom: 2em;
                border-bottom: 1px solid #ECECEC;
            }
            img {
                height: 16em;
                width: 11em;
                margin-right: 1em;
                @media screen and (max-width: 40em) {
                    width: 7em;
                    height: 10em;
                }
            }
            .text-container {
                overflow: hidden;
                width: 100%;
                .post-user {
                    color: grey;
                }
                .post-date {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-family: 'Alegreya', serif;
                    color: grey;
                    font-size: 100%;
                    @media screen and (max-width: 40em) {
                        position: inherit;
                        margin: 0;
                    }
                }
                .intro-text {
                    text-overflow: ellipsis;
                }
                a {
                    margin-bottom: 0.5em;
                }
                .detail-link {
                    color: #F76655;
                    font-size: 120%;
                }
                p {
                    margin-top: 0.5em;
                }
                .bottom-link {
                    color: #0090E3;
                }
            }
            .rating {
                position: absolute;
                top: -0.7em;
                left: -0.7em;
                background: #F76655;
                color: white;
                font-weight: bold;
                font-size: 100%;
                padding: 0.3em 0.6em;
                // border-radius: 20em;
            }
        }
    }
}
