body {
    margin: 0;
}

.titel {
    font-weight: bold;
    font-size: 140%;
}

.hidden {
    display: block;
}

.active {
    background-color: #F76655;
    color: #ffffff!important;
    padding: 0.5em 1em;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @media screen and (max-width: 40em) {
        padding: 0;
    }
}

.active:hover {
    text-decoration: none;
    background-color: crimson;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

@supports (display: flex) {
    .header-nav {
        z-index: 999;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        padding: 1.5em 0;
        border-bottom: 1px solid #ECECEC;
        .titel-link {
            text-align: center;
            color: black;
            @media screen and (max-width: 40em) {
                font-size: 70%;
            }
        }
        a {
            -webkit-transition: 0.2s;
            transition: 0.2s;
            color: black;
            font-weight: bold;
        }
        a:hover,
        a:active,
        a:focus {
            -webkit-transition: 0.2s;
            transition: 0.2s;
            text-decoration: none;
            color: #F76655;
        }
        @media screen and (max-width: 40em) {
            position: inherit;
            width: 100vw;
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                    align-items: center;
        }
        nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: #333333;
            .navigation-left,
            .navigation-right {
                width: 35%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            }
            @media screen and (max-width: 40em) {
                display: none;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                width: 100vw;
            }
        }
        #hamburger {
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            width: 56px;
            width: 3.5rem;
            height: 35.2px;
            height: 2.2rem;
            div {
                height: 6px;
                width: 60%;
                background: #d3531a;
                border-radius: 9px;
                margin: 5px;
            }
            @media screen and (min-width: 40em) {
                display: none;
            }
        }
    }
}
