body {
    margin: 0;
}

.active {
    background-color: #F76655;
    color: #ffffff!important;
    padding: 0.5em 1em;
    transition: 0.2s;
}
.active:hover {
    text-decoration: none;
    background-color: crimson;
    transition: 0.2s;
}

@supports (display: flex) {
    .header-nav {
        z-index: 999;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        padding: 1.5em 0;
        border-bottom: 1px solid #ECECEC;
    }
    .main-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333333;
        a {
            transition: 0.2s;
            color: black;
            font-weight: bold;
        }
        a:hover,
        a:active,
        a:focus {
            transition: 0.2s;
            text-decoration: none;
            color: #F76655;
        }
        .navigation-left,
        .navigation-right {
            width: 35%;
            display: flex;
            justify-content: space-around;
        }
        @media screen and (max-width: 40em) {

        }

    }

    .hamburger {
        position: absolute;
        top: 0;
        width: 3.5rem;
        height: 2.2rem;
        div {
            // position: absolute;
            height: 6px;
            width: 80%;
            background: #d3531a;
            border-radius: 9px;
            margin: 5px;
            // opacity: 1;
            // left: 0;
        }
        @media screen and (min-width: 40em) {
            display: none;
        }
    }
}
