//BEGIN CHANEL
//#F76655
//#FF5300
// GENERAL PERSONACHECK
@keyframes feedback {
    0%{background-color:#F76655; color: white}
    80%{background-color:#F76655; color: white}
    100%{background-color:white; color: #333}
}
main {
    display: block;
}
h1 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
}
h2 {
    color: #F76655;
    font-family: "Lato", sans-serif;
}
p {
    font-family: 'Alegreya', "Lucida Grande";
}
li {
    font-family: 'Alegreya', "Lucida Grande";
}
fieldset {
    border: 0 none;
}
fieldset legend {
    display: block;
}
button,
input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}
[hidden] {
    display: none;
}
button[disabled="true"], button[disabled="true"]:hover, button[disabled="true"]:active {
    background-color: #eee;
    color: #ccc;
    cursor: not-allowed;
}
.check {
    background-color: white;
    margin: 0.5rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.hide {
    display: none;
}
.fade-in {
    opacity: 1;
    position: static;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
}
.fade-out {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: -1;
}
@supports(display:flex) {
    .flexdiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}
@supports(display:grid) {
    .flexdiv {
        display: grid;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
}
.item {
    display: inline-block;
    margin-top: 0.5rem;
    position: relative;
    text-align: center;
}
.submit-persona {
    background-color: #F76655;
    border: none;
    border-radius: 0;
    bottom: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    left: 0;
    padding: 0.7rem;
    position: fixed;
    text-align: center;
    text-transform: lowercase;
    transition: background-color 0.2s;
    width: 50%;
}
.submit-persona:hover {
    background-color: #FF5300;
    cursor: pointer;
}
.go-back {
    background-color: #ddd;
    color: black;
}
.go-back:hover {
    background-color: #ccc;
    color: black;
}
// .feedback {
//     background-color: #F76655;
//     color: white !important;
// }
.item:hover {
    background-color: #ddd;
}
.notify {
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.notify h4 {
    position: absolute;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
// @supports(animation: feedback 5s ease){
//     .feedback {
//         background-color: initial;
//         color: initial;
//         animation: feedback 5s ease;
//     }
// }
.persona-check legend {
    margin-bottom: 0.5rem;
}
.form-for-check fieldset {
    margin-bottom: 3.5rem;
}
.check picture {
    border-radius: 100%;
    height: 30vw;
    position: relative;
    width: 30vw;
}
.check source, .check img {
    background-color: #F76655;
    border-radius: 100%;
    height: 30vw;
    width: 30vw;
}
.item p {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}
.item label:hover {
    color: #F76655;
    cursor: pointer;
}
.item label:active {
    color: #333;
}
.item label::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
@supports(filter: grayscale(30%)){
    .item:hover {
        background-color: white;
    }
    .item:hover picture {
        -webkit-filter: grayscale(30%);
        filter: grayscale(30%);
    }
    .item:active img, .item:active source {
        -webkit-filter: grayscale(70%);
        filter: grayscale(70%);
    }
}
@supports(clip:rect(0, 0, 0, 0)) {
    .item input[type="checkbox"] {
        clip: rect(0, 0, 0, 0);
        position: absolute;
    }
}
.form-for-check > form {
    position: relative;
}
#condition {
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
#persona-button {
    left: 50%;
    right: 0;
}
@supports (left: initial) {
    #persona-button {
        left: initial;
    }
}
.item input:checked + picture + p > label {
    color: #F76655;
}
.item input:focus + picture + p > label::after,
.submit-persona:focus {
    outline: #333 dashed;
}

// LOGIN
.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
.login header {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.login h1 {
    font-size: 3.5rem;
    margin: 0;
    order: 2;
}
.login h2 {
    color: #333;
    font-size: 2rem;
    margin: 1rem 0;
    order: 1;
}
.login p {
    color: #F76655;
    display: inline;
    font-style: italic;
    order: 3;
    padding: 0.3rem;
}
#login-button {
    width: 100%;
}

// PERSONA
.item img {
    filter: gray;
    transition: 0.2s filter;
}
.item picture {
    filter: gray;
    transition: 0.2s filter;
}
.item input:checked + picture > img {
    filter: none;
}
@supports (filter: grayscale(70%)){
    .item picture {
        -webkit-filter: grayscale(70%);
        filter: grayscale(70%);
    }
    .item img {
        filter: none;
    }
}
input:checked + picture {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
}

//CONFIRMATION PAGE
#confirm-persona {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
#confirm-persona div {
    background-color: white;
    position: absolute;
    padding: 0.5rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100vw;
}
#confirm-persona h2 {
    font-size: 1.8rem;
}
#confirm-persona ul {
    list-style-type: initial;
    margin: 1rem 0;
    padding-left: 1.5rem;
}
#confirm-persona li {
    font-size: 1rem;
    padding-bottom: 0.3rem;
}
#confirm-persona .submit-persona {
    box-shadow: none;
    font-size: 1rem;
    position: static;
    -ms-transform: none;
    transform: none;
    width: 60%;
}
#confirm-persona button.submit-persona {
    float: left;
    width: 40%;
}
@media screen and (min-width: 38rem) {
    .check {
        background-color: #F6F6F6;
    }
    .header-personacheck {
        margin-bottom: 3rem;
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    .form-for-check {
        background-color: white;
        box-shadow: 5px 5px 0 0 #ddd;
    }
    .header-personacheck,
    .form-for-check {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        width: 37rem;
    }
    .flexdiv {
        transform: translateX(1%);
        justify-content: flex-start;
    }
    @supports(display:grid) {
        .flexdiv {
            grid-column-gap: 1.1rem;
            grid-template-columns: auto auto auto auto;

        }
         .item {
             margin: 0.5rem 0 0 0;
         }
    }
    .item {
        margin: 0 0.4rem;
        width: 8rem;
    }
    .submit-persona {
        box-shadow: none;
        float: right;
        padding: 0.5rem 4rem;
        position: relative;
        width: auto;
    }
    .go-back {
        float: left;
    }
    .header-personacheck h1 {
        font-size: 5rem;
    }
    .header-personacheck p {
        font-size: 1rem;
    }
    .form-for-check fieldset {
        margin-bottom: 4rem;
    }
    .form-for-check h2 {
        font-size: 2rem;
    }
    .item picture, .item source, .item img {
        height: 8rem;
        width: 8rem;
    }
    .item p {
        font-size: 1.2rem;
        padding: 0.4rem 0;
    }
    .login header {
        background-color: white;
        left: 50%;
        padding: 1rem;
        width: 30rem;
    }
    .login p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    #back, #persona-button {
        -ms-transform: translateY(-2.5rem);
        transform: translateY(-2.5rem);
    }
    #login-button {
        order: 4;
    }
    #persona-button {
        left: 0%;
    }
    #confirm-persona h2 {
        font-size: 2.8rem;
    }
    #confirm-persona h3 {
        font-size: 1.8rem;
    }
    #confirm-persona div {
        box-shadow: 5px 5px 0 0 #ddd;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 37rem;
    }
    #confirm-persona .submit-persona {
        font-size: 1.3rem;
        width: auto;
    }
}

//END CHANEL
