//#F76655
//#FF5300

// GENERAL PERSONACHECK
body {
    margin: 0.5rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Lato", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
}

fieldset {
    border: 0 none;
}

fieldset legend {
    display: block;
}

button, input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

.hide {
    display: none;
}

.fade-in {
    opacity: 1;
    position: static;
    transition: opacity 0.5s;
    transition-delay: 0.2s;
}

.fade-out {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.login {
    margin: 0.5rem;
}

.item {
    display: inline-block;
    width: 30vw;
    margin-top: 0.5rem;
    position: relative;
    text-align: center;
}

.submit-persona {
    background-color: #F76655;
    border: none;
    bottom: 0;
    box-shadow: 0 -1px 10px #333;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    left: 0;
    padding: 0.7rem;
    position: fixed;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
}

.submit-persona:focus {
    background-color: #F76655;
}

.text-label {
    color: #A0A0A0;
    font-size: .875rem;
    font-weight: 700;
}

.form-for-check > form {
    position: relative;
}

.form-for-check fieldset {
    margin-bottom: 3.5rem;
}

.persona-check legend {
    margin-bottom: 0.5rem;
}

.login h2 {
    margin: 1rem 0;
}

.item div {
    background: #DDD;
    border-radius: 100%;
    height: 30vw;
    width: 30vw;
}

.item p {
    color: #333;
    font-family: 'Lato', "Lucida Grande";
    font-size: 0.9rem;
    font-weight: 400;
}

.item label::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.item input:checked + div + p > label {
    color: #F76655;
}

.item input:focus + div + p > label::after {
    outline: #333 dashed;
}

@supports(display:flex){
    .flexdiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

@supports(clip:rect(0, 0, 0, 0)){
    input[type="checkbox"]{
        clip: rect(0, 0, 0, 0);
        position: absolute;
    }
}

@supports(display:grid){

}

// LOGIN
.login header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login h1 {
    font-size: 2.7rem;
    margin: 0;
}

.login p {
    color: #F76655;
    display: inline;
    font-style: italic;
    padding: 0.3rem;
}

// PERSONA
.select-color {
    background-color: #ddd;
}

.flexdiv .item div {
    background-size: 100% !important;
    filter: grayscale(70%);
    transition: 0.5s filter;
}

input:checked + div {
    filter: grayscale(0%) !important;
}

.flexdiv .persona:nth-of-type(1) div {
    background: url('/img/small-icons_jamie.png');
}

.flexdiv .persona:nth-of-type(2) div {
    background: url('/img/small-icons_vangogh.png');
}

.flexdiv .persona:nth-of-type(3) div {
    background: url('/img/small-icons_snooki.png');
}

.flexdiv .persona:nth-of-type(4) div {
    background: url('/img/small-icons_kevin.png');
}

.flexdiv .persona:nth-of-type(5) div {
    background: url('/img/small-icons_kim.png');
}

.flexdiv .persona:nth-of-type(6) div {
    background: url('/img/small-icons_therock.png');
}

.flexdiv .persona:nth-of-type(7) div {
    background: url('/img/small-icons_frodo.png');
}

.flexdiv .persona:nth-of-type(8) div {
    background: url('/img/small-icons_steve.png');
}

.flexdiv .persona:nth-of-type(9) div {
    background: url('/img/small-icons_caesar.png');
}

.flexdiv .persona:nth-of-type(10) div {
    background: url('/img/small-icons_obama.png');
}

.flexdiv .persona:nth-of-type(11) div {
    background: url('/img/small-icons_tomboy.png');
}

.flexdiv .persona:nth-of-type(12) div {
    background: url('/img/small-icons_wie.png');
}

// FREETIME
.flexdiv .hobby:nth-of-type(1) div {
    background: url('/img/small-icons_controller.png');
}

.flexdiv .hobby:nth-of-type(2) div {
    background: url('/img/small-icons_football.png');
}

.flexdiv .hobby:nth-of-type(3) div {
    background: url('/img/small-icons_beer.png');
}

.flexdiv .hobby:nth-of-type(4) div {
    background: url('/img/small-icons_airplane.png');
}

.flexdiv .hobby:nth-of-type(5) div {
    background: url('/img/small-icons_guitar.png');
}

.flexdiv .hobby:nth-of-type(6) div {
    background: url('/img/small-icons_bag.png');
}

.flexdiv .hobby:nth-of-type(7) div {
    background: url('/img/small-icons_pan.png');
}

.flexdiv .hobby:nth-of-type(8) div {
    background: url('/img/small-icons_book.png');
}

.flexdiv .hobby:nth-of-type(9) div {
    background: url('/img/small-icons_pill.png');
}

.flexdiv .hobby:nth-of-type(10) div {
    background: url('/img/small-icons_suitcase.png');
}

.flexdiv .hobby:nth-of-type(11) div {
    background: url('/img/small-icons_soap.png');
}

// MOODS
.flexdiv .mood:nth-of-type(1) div {
    background: url('/img/small-icons_will.png');
}

.flexdiv .mood:nth-of-type(2) div {
    background: url('/img/small-icons_darryl.png');
}

.flexdiv .mood:nth-of-type(3) div {
    background: url('/img/small-icons_chris.png');
}

.flexdiv .mood:nth-of-type(4) div {
    background: url('/img/small-icons_jack.png');
}

.flexdiv .mood:nth-of-type(5) div {
    background: url('/img/small-icons_kristen.png');
}

.flexdiv .mood:nth-of-type(6) div {
    background: url('/img/small-icons_bigbang.png');
}

@media screen and (min-width: 23rem){
    .flexdiv .persona:nth-of-type(1) div {
        background: url('/img/icons-jamie.png');
    }

    .flexdiv .persona:nth-of-type(2) div {
        background: url('/img/icons-vangogh.png');
    }

    .flexdiv .persona:nth-of-type(3) div {
        background: url('/img/icons-snooki.png');
    }

    .flexdiv .persona:nth-of-type(4) div {
        background: url('/img/icons-kevin.png');
    }

    .flexdiv .persona:nth-of-type(5) div {
        background: url('/img/icons-kim.png');
    }

    .flexdiv .persona:nth-of-type(6) div {
        background: url('/img/icons-therock.png');
    }

    .flexdiv .persona:nth-of-type(7) div {
        background: url('/img/icons-frodo.png');
    }

    .flexdiv .persona:nth-of-type(8) div {
        background: url('/img/icons-steve.png');
    }

    .flexdiv .persona:nth-of-type(9) div {
        background: url('/img/icons-caesar.png');
    }

    .flexdiv .persona:nth-of-type(10) div {
        background: url('/img/icons-obama.png');
    }

    .flexdiv .persona:nth-of-type(11) div {
        background: url('/img/icons-tomboy.png');
    }

    .flexdiv .persona:nth-of-type(12) div {
        background: url('/img/icons-wie.png');
    }

    // FREETIME
    .flexdiv .hobby:nth-of-type(1) div {
        background: url('/img/icons-controller.png');
    }

    .flexdiv .hobby:nth-of-type(2) div {
        background: url('/img/icons-football.png');
    }

    .flexdiv .hobby:nth-of-type(3) div {
        background: url('/img/icons-beer.png');
    }

    .flexdiv .hobby:nth-of-type(4) div {
        background: url('/img/icons-airplane.png');
    }

    .flexdiv .hobby:nth-of-type(5) div {
        background: url('/img/icons-guitar.png');
    }

    .flexdiv .hobby:nth-of-type(6) div {
        background: url('/img/icons-bag.png');
    }

    .flexdiv .hobby:nth-of-type(7) div {
        background: url('/img/icons-pan.png');
    }

    .flexdiv .hobby:nth-of-type(8) div {
        background: url('/img/icons-book.png');
    }

    .flexdiv .hobby:nth-of-type(9) div {
        background: url('/img/icons-pill.png');
    }

    .flexdiv .hobby:nth-of-type(10) div {
        background: url('/img/icons-suitcase.png');
    }

    .flexdiv .hobby:nth-of-type(11) div {
        background: url('/img/icons-soap.png');
    }

    // MOODS
    .flexdiv .mood:nth-of-type(1) div {
        background: url('/img/icons-will.png');
    }

    .flexdiv .mood:nth-of-type(2) div {
        background: url('/img/icons-darryl.png');
    }

    .flexdiv .mood:nth-of-type(3) div {
        background: url('/img/icons-chris.png');
    }

    .flexdiv .mood:nth-of-type(4) div {
        background: url('/img/icons-jack.png');
    }

    .flexdiv .mood:nth-of-type(5) div {
        background: url('/img/icons-kristen.png');
    }

    .flexdiv .mood:nth-of-type(6) div {
        background: url('/img/icons-bigbang.png');
    }

    .submit-persona {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 38rem){
    body {
        background-color: #F6F6F6;
    }

    .item {
        width: 8rem;
    }

    .submit-persona {
        box-shadow: none;
        float: right;
        padding: 0.5rem 4rem;
        position: relative;
        transform: translateY(-2.5rem);
        width: auto;
    }

    .header-personacheck {
        margin-bottom: 3rem;
        transform: rotate(-10deg);

    }

    .form-for-check {
        background-color: white;
        box-shadow: 5px 5px 0 0 #ddd;
    }

    .header-personacheck, .form-for-check {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        width: 37rem;
    }

    .header-personacheck h1 {
        font-size: 5rem;
    }

    .header-personacheck p {
        font-size: 1rem;
    }

    .form-for-check fieldset {
        margin-bottom: 4rem;
    }

    .form-for-check h2 {
        font-size: 2rem;
    }

    .item div {
        height: 8rem;
        width: 8rem;
    }

    .item p {
        font-family: 'Lato', "Lucida Grande";
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0.4rem 0;
    }
}
